<!doctype html>
<html lang="fr">
    <head>
        <title>Présence UCBL</title>
        <meta charset="UTF-8">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/4.1.0/mustache.js" integrity="sha512-SDpqS2G7Z70bGQSl26nhAdQj9YJoQqMOJVBVqE1EyEaAAzdvLFNZ0R06FzBu+E8xTcmbd2dBhvBJuJrbEUiKqA==" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="css/style.css" media="all"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js" integrity="sha512-zT3zHcFYbQwjHdKjCu6OMmETx8fJA9S7E6W7kBeFxultf75OPTYUJigEKX58qgyQMi1m1EgenfjMXlRZG8BXaw==" crossorigin="anonymous"></script>
        <script
                src="https://code.jquery.com/jquery-3.5.1.js"
                integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
                crossorigin="anonymous">
        </script>
    </head>
    <body>
        <h1>Présence UCBL (en AJAX) !</h1>
        <div id="errMsg"></div>
        <aside>
            <h2 id="titreMenu">Menu</h2>
            <ul id="menu">
                <li><a href='#index'>Accueil</a></li>
                <li><a href='#monCompte'>Mon compte</a></li>
                <li><a href='#entrer'>Entrée</a></li>
                <li><a href='#sortir'>Sortie</a></li>
                <li><a href='#passages'>Tous mes passages</a></li>
                <li><a href='#deco'>Déconnexion</a></li>
            </ul>
        </aside>
        <section id='index' class='active'>
            <h2>Bienvenue sur Présence UCBL</h2>
            <form id="login-form" method="post" action="">
                <p>Entrez votre login :
                    <input id="user-login" type="text" name="login">
                    <input type="submit" value="Connexion">
                </p>
            </form>
            <p class="salle">Vous êtes actuellement dans les salles :</p>
            <ul class="salle">

            </ul>
        </section>
        <section id='monCompte' class='inactive'>
            <h2>Mon compte</h2>
            <ul id='compteList'>
                <li>Login : <span id="login"></span></li>
                <li>Nom : <span id="nom"></span></li>
                <li>Admin : <span id="admin"></span></li>
            </ul>
            <form id="nom-form" method="post">
                <p>Modifier mon nom :
                    <input type="text" name="nom">
                    <input type="submit" value="Modifier">
                </p>
            </form>
            <p><a href='#deco'>Déconnexion</a></p>
        </section>
        <section id='entrer' class='inactive'>
            <h2>Entrer dans une salle</h2>
            <form id="entrer-form" method="post">
                <p>Entrer dans la salle :
                    <input id="salle" type="text" name="salle">
                    <input type="submit" value="Envoyer">
                </p>
            </form>
            <p><a href="Deco">Se déconnecter</a></p>
        </section>
        <section id='sortir' class='inactive'>
            <h2>Sortir d'une salle</h2>
            <form id="sortir-form" method="post">
                <p>Sortir de la salle :
                    <input type="text" name="salle">
                    <input type="submit" value="Envoyer">
                </p>
            </form>
            <p><a href="Deco">Se déconnecter</a></p>
        </section>
        <section id='passages' class='inactive'>
            <h2>Liste de tous mes passages</h2>
            <ul id='passagesList'>
                <!-- A vous de lister les passages ici. -->
            </ul>
            <p><a href='#deco'>Déconnexion</a></p>
        </section>
        <section id='deco' class='inactive'>
            <h2>Déconnexion</h2>
            <form id="deco-form" method="post" action="">
                <p>Cliquez ici pour vous déconnecter :
                    <input type="submit" value="Deconnexion">
                </p>
            </form>
            <p><a href='#index'>Retour à la page d'accueil</a></p>
        </section>
    </body>
    <script id="index-template" type="x-tmpl-mustache">
        {{#.}}
            <li>{{nomSalle}} - {{saturee}}</li>
        {{/.}}
    </script>
    <script id="monCompte-template" type="x-tmpl-mustache">
            <li>Login : <span id="login">{{login}}</span></li>
            <li>Nom : <span id="nom">{{nom}}</span></li>
            <li>Admin : <span id="admin">{{admin}}</span></li>
    </script>
    <script id="passages-template" type="x-tmpl-mustache">
    <TABLE BORDER="1">
          <TR>
             <TH> Salle </TH>
             <TH> Entree </TH>
             <TH> Sortie </TH>
          </TR>
        {{#.}}
          <TR>
             <TD> {{salle}} </TD>
             <TD> {{dateEntree}} </TD>
             <TD> {{dateSortie}} </TD>
          </TR>
       {{/.}}
    </TABLE>

    </script>

    <script type="text/javascript" src="js/scriptTP5.js"></script>
</html>